.card1 {
  height: 330px;
  background-color: rgba(0, 0, 0, 0.05);
  background-blend-mode: multiply;

}

.card1 img{
  z-index: 0;
  /* filter: drop-shadow(0.5); */
  filter: brightness(0.5);
}






