.ic-search {
  z-index: 2;
  right: 0;
  top: 0;
  bottom: 0;
}

nav {
  background-color: #333333;
}

nav .btn{
  background-color: #ffac42;
}

@media (max-width: 768px) {
  .search {
    display: none !important;
  }
}
