/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

:root {
  --colorA: #1a1a1a;
  --colorB: #333333;
  --colorC: #ffac42;

  --fonts: "Poppins", sans-serif;
}

body {
  background-color: var(--colorA);
  font-family: var(--fonts);
}

/* .btn {
  background-color: var(--colorC);
  color: var(--colorA);
} */

.btn:hover {
  background-color: rgb(59, 59, 59);
}

.background1 {
  background-color: #212020;
}

p,h5,h4,h3,h2,h1,ol,label{
  color: white ;
}

h1,h2,h3,h4,h5{
  font-weight: 600;
}
